.soumission {
    .section {
        display: flex;
        flex-direction: column;
        min-height: 7em;
        max-height: 13em;
        margin:2em 0;
        label {
            font-size: 2em;
            height: 100%;
            padding: .5em 0;
        }
        select {
            border: .1em solid black;
            border-radius: .2em;
            height: 3em;
            padding: 0 1em;
        }
        textarea {
            width: 100%;
            height: 10em;
            padding: 1em;
            overflow-y: auto;
        }
        .border {
            border: .1em solid black;
            border-radius: .2em;
            max-height: 12em;
            padding: 1em;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .ressource{
                height: 2em;
                width: 100%;
                display: flex;
                label {
                    font-size: 1.1em;
                    padding-right: 2em;
                }
                input {
                    margin-left: auto;
                    width: 1.5em;
                    height: 1.5em;
    
                }
            }
        }
    }
    button{
        padding: 1em 0;
        width: 100%;
    }
}
.App {
    margin: 2em 0;
    button.ui {
        padding: 1em 0;
        width: 100%;
    }
}

@media only screen and (min-width:768px) {
    .soumission {
        .section {
            display: flex;
            flex-direction: column;
            min-height: 7em;
            max-height: 13em;
            margin:2em 0;
            label {
                font-size: 2em;
                height: 100%;
                padding: .5em 0;
            }
            select {
                border: .1em solid black;
                border-radius: .2em;
                height: 3em;
                padding: 0 1em;
            }
            textarea {
                width: 100%;
                height: 10em;
                padding: 1em;
                overflow-y: auto;
            }
            .border {
                border: .1em solid black;
                border-radius: .2em;
                max-height: 12em;
                padding: 1em;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .ressource{
                    height: 2em;
                    width: 20%;
                    display: flex;
                    label {
                        font-size: 1.1em;
                        padding-right: 2em;
                    }
                    input {
                        margin-left: auto;
                        width: 1.5em;
                        height: 1.5em;
        
                    }
                }
            }
        }
        button{
            padding: 1em 4em;
            width: unset;
        }
    }
    .App {
        margin: 2em 0;
        button.ui {
            padding: 1em 4em;
            width: unset;
        }
    }

}
